<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

    <title>Overview</title>

    <!--web fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="../static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
    <link href="../static/assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">

    <!--custom scrollbar-->
    <link href="../static/assets/vendor/m-custom-scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">

    <!--jquery dropdown-->
    <link href="../static/assets/vendor/jquery-dropdown-master/jquery.dropdown.css" rel="stylesheet">

    <!--jquery ui-->
    <link href="../static/assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!--iCheck-->
    <link href="../static/assets/vendor/icheck/skins/all.css" rel="stylesheet">

    <!--dropzone-->
    <link href="../static/assets/vendor/dropzone/dropzone.min.css" rel="stylesheet">

    <!--custom styles-->
    <link href="../static/assets/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../static/assets/vendor/html5shiv.js"></script>
    <script src="../static/assets/vendor/respond.min.js"></script>
    <![endif]-->
    <style>
        .custom-nav-link:after{
            display:none;
        }
    </style>
</head>

<body class="fixed-nav" style="padding-top:103px;">

    <!--navigation : sidebar & header-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light container" id="mainNav" style="border-bottom: 0px; box-shadow:none;">

        <!--brand name-->
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img class="pr-3 float-left" src="../static/assets/img/logo.jpg" srcset="../static/assets/img/logo-icon@2x.png 2x"  alt="" style="width:75px; height:75px;"/>
        </a>
        <!--/brand name-->

        
        <!--responsive nav toggle-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--/responsive nav toggle-->

        <!--responsive rightside toogle-->
        <a href="javascript:;" class="nav-link right_side_toggle responsive-right-side-toggle">
            <i class="icon-options-vertical"> </i>
        </a>
        <!--/responsive rightside toogle-->

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!--header leftside links-->
            <ul class="navbar-nav header-links" style="margin:0 auto;">
                <li class="nav-item dropdown">
                    <a class="nav-link custom-nav-link dropdown-toggle mr-lg-2" id="actionNav" href="{{ url_for('home') }}" style="font-size:16px !important;">
                        Mein Konto
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link custom-nav-link dropdown-toggle mr-lg-2" id="reportNav" href="{{ url_for('werbetreibende') }}" style="font-size:16px !important;">
                        Werbetreibende
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="orderNav" href="#" style="font-size:16px !important;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Werbung teilen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="actionNav">
                        <a class="dropdown-item" href="{{ url_for('werbung_teilen') }}">Werbung teilen</a>
                        <a class="dropdown-item" href="{{ url_for('weiterleitung') }}">Weiterleitung</a>
                        <a class="dropdown-item" href="{{ url_for('upload') }}">Upload</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="orderNav" href="#" style="font-size:16px !important;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="actionNav">
                        <a class="dropdown-item" href="{{ url_for('overview') }}">Overview</a>
                        <a class="dropdown-item" href="{{ url_for('einstellungen') }}">Einstellungen</a>
                    </div>
                </li>
            </ul>
            <!--/header leftside links-->

            <!--header rightside links-->
            <ul class="navbar-nav header-links ml-auto hide-arrow" style="margin-left:0px !important;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-3" id="userNav" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user-thumb">
                            <img class="rounded-circle" src="../static/assets/img/avatar/avatar1.jpg" alt=""/>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userNav">
                        <a class="dropdown-item" href="{{ url_for('mein_profil') }}">My Profile</a>
                        <!-- <a class="dropdown-item" href="#">Account Settings</a> -->
                        <!-- <a class="dropdown-item" href="#">Inbox <span class="badge badge-primary">3</span></a> -->
                        <!-- <a class="dropdown-item" href="#">Message <span class="badge badge-success">5</span></a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('sign_out') }}">Sign Out</a>
                        <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
                        <a class="dropdown-item" href="{{ url_for('registration') }}">Registration</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link right_side_toggle">
                        <i class="icon-options-vertical" style="top:4px;"> </i>
                    </a>
                </li>
            </ul>
            <!--/header rightside links-->

        </div>
    </nav>
    <!--/navigation : sidebar & header-->

    <div style="position:fixed; top:0px; background:#ffffff; height:103px; width:100%; z-index:999; box-shadow:0 1px 10px 1px rgba(115, 108, 203, .1);">

    </div>


    <!--navigation : sidebar & header-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background:#232d53; height:50px; position:relative; z-index:1; border:0px;" id="mainNav">
    </nav>
    <!--/navigation : sidebar & header-->



    <!--creative states-->
    <div class="creative-state-area basic-gradient container" style="background:#2f3c4b; top:25px; padding-bottom:35px; text-align:center; border-bottom: 50px solid #ffffff;">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="custom-title-wrap border-0 mt-2 mb-4">
                    <div class="custom-title text-light">Short Reports</div>
                    <div class="custom-post-title">Here are some short report examples</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="media d-flex align-items-center  mb-4">
                    <div class="mr-4 rounded-circle bg-warning sr-icon-box bubble-shadow-small">
                        <i class="vl_user-male"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="text-uppercase mb-0 weight500 text-light">4,87,654</h4>
                        <span class="text-muted">Visit</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="media d-flex align-items-center  mb-4">
                    <div class="mr-4 rounded-circle bg-purple sr-icon-box bubble-shadow-small">
                        <i class="vl_download"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="text-uppercase mb-0 weight500 text-light">4,87,654</h4>
                        <span class="text-muted">Downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="media d-flex align-items-center  mb-4">
                    <div class="mr-4 rounded-circle bg-danger sr-icon-box bubble-shadow-small">
                        <i class="vl_shopping-bag2"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="text-uppercase mb-0 weight500 text-light">4,87,654</h4>
                        <span class="text-muted">Active Installation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/creative states-->






    <!--main content wrapper-->
    <div class="content-wrapper" style="margin-left:0px; padding-top:25px;">

        <div class="container">


  
            <div class="row">
                <div class="col-xl-12" style="padding-left:0px; padding-right:0px;">
                    <div class="card card-shadow mb-4">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Company</th>
                                    <th scope="col">Segment 1</th>
                                    <th scope="col">Segment 2</th>
                                    <th scope="col">Segment 3</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xl-12" style="padding-left:0px; padding-right:0px;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0 d-flex justify-content-between">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">Company</div>
                                <div style="font-size: 12px; color: #328dff; cursor:pointer;" id="add-company">Jetzt Unternehmen Anlegen</div>
                            </div>                                                                             
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Website</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Punkte Mail</th>
                                    <th scope="col">Punkte Upload</th>
                                    <th scope="col">Punkte Umfrage</th>
                                    <th scope="col">Sonstiges</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil edit-button-first-table" style="color: #328dff; cursor:pointer;" aria-hidden="true"></i> 
                                        | 
                                        <i class="fa fa-trash delete-button-first-table" style="color: #328dff; cursor:pointer;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil edit-button-first-table" style="color: #328dff; cursor:pointer;" aria-hidden="true"></i> 
                                        | 
                                        <i class="fa fa-trash delete-button-first-table" style="color: #328dff; cursor:pointer;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Gusto</td>
                                    <td>www.gusto.co.uk</td>
                                    <td>
                                        <img src="../static/assets/img/logo.jpg" alt="" style="width:75px; height:30px; box-shadow:0 1px 5px 1px rgba(115, 108, 203, .4)"/>
                                    </td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>
                                        <i class="fa fa-pencil" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="edit-button-first-table"></i> 
                                        | 
                                        <i class="fa fa-trash" style="color: #328dff; cursor:pointer;" aria-hidden="true" id="delete-button-first-table"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            



            
            <div class="row">
                <div class="col-xl-12" style="padding-left:0px; padding-right:0px;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0 d-flex justify-content-between">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">Kundendaten</div>
                                <div style="font-size: 12px; color: #328dff;">Jet Kunden Arigien</div>
                            </div>                                                                             
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Vorname</th>
                                    <th scope="col">Nechname</th>
                                    <th scope="col">Geschlecht</th>
                                    <th scope="col">Postleitzahl</th>
                                    <th scope="col">Geburtstag</th>
                                    <th scope="col">Sonstiges</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>romanhutter90@googlemail.com</td>
                                    <td>Roman</td>
                                    <td>Hutter</td>
                                    <td>Mannich</td>
                                    <td>None</td>
                                    <td>None</td>
                                    <td><i class="fa fa-pencil" style="color: #328dff;" aria-hidden="true"></i> | <i class="fa fa-trash" style="color: #328dff;" aria-hidden="true"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!--footer-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright &copy; VectorLab 2018</small>
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!--/main content wrapper-->



    <div class="card card-shadow mb-4" id="add-company-modal" style="position:fixed; z-index:9999999; width:500px; height:500px; top:50%; left:50%; margin-left:-250px; margin-top:-250px; box-shadow:0 1px 10px 1000px rgba(0, 0, 0, .8); display:none;">
        <div id="add-company-modal-close-button" style="position: absolute; right: 20px; top: 10px; font-size: 18px; color: #328dff; font-weight: bold; cursor:pointer;">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="card-body">
            <p class="text-muted">Add Company</p>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Company</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your company name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Website</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your website">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Country</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your country">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Logo</label>
                    <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Upload logo">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-purple">Submit</button>
                </div>
            </form>
        </div>
    </div>





    <!-- edit button popup from the first table -->
    
    <div class="card card-shadow mb-4" id="edit-button-frst-table-popup" style="position:fixed; z-index:9999999; width:500px; height:500px; top:50%; left:50%; margin-left:-250px; margin-top:-250px; box-shadow:0 1px 10px 1000px rgba(0, 0, 0, .8); display:none;">
        <div id="edit-button-first-table-close-button" style="position: absolute; right: 20px; top: 10px; font-size: 18px; color: #328dff; font-weight: bold; cursor:pointer;">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="card-body">
            <p class="text-muted">Edit</p>
            
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your company name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your website">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your country">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Upload logo">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-purple">Submit</button>
                </div>
            
        </div>
    </div>
    



    
    <!-- delete button confirmation popup from the first table -->
    
    <div class="card card-shadow mb-4" id="delete-button-frst-table-popup" style="position:fixed; z-index:9999999; width:400px; height:120px; top:50%; left:50%; margin-left:-200px; margin-top:-100px; box-shadow:0 1px 10px 1000px rgba(0, 0, 0, .8); display:none;">
        <div id="delete-button-first-table-close-button" style="position: absolute; right: 15px; top: 5px; font-size: 18px; font-weight: bold; cursor:pointer;">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="card-body" style="text-align: center;">
            <p class="text-muted" style="color: tomato !important;">Are you sure?</p>
            <button type="button" class="btn btn-danger btn-sm" id="delete-confirmation">Yes</button>
            <button type="button" class="btn btn-primary btn-sm" id="delete-cancelation">No</button>
        </div>
    </div>
        




    <!--right sidebar-->
    <div class="right-sidebar" id="right_side_bar">
        <div class="card border-0">
            <div class="card-body pb-0">
                <!--close toggle-->
                <a href="javascript:;" class="right_side_toggle float-right close-sidebar-icon">
                    <i class=" ti-shift-right"> </i>
                </a>
                <!--/close toggle-->
            </div>
            <div class="card-body pt-2">

                <div class="right-widget">
                    <div class="custom-title-wrap bar-primary mb-4">
                        <div class="custom-title">Today's Activity</div>
                    </div>

                    <ul class="list-unstyled base-timeline">
                        <li class="time-dot-primary">
                            <div class="base-timeline-info">
                                <a href="#">John123</a> Successfully purchased item#26
                            </div>
                            <small class="text-muted">
                                28 mins ago
                            </small>
                        </li>
                        <li class="time-dot-danger">
                            <div class="base-timeline-info">
                                <a href="#" class="text-danger">Farnandez</a> placed the order for accessories
                            </div>
                            <small class="text-muted">
                                2 days ago
                            </small>
                        </li>
                        <li class="time-dot-purple">
                            <div class="base-timeline-info">
                                User <a href="#" class="text-purple">Lisa Maria</a> checked out from the market
                            </div>
                            <small class="text-muted">
                                12 mins ago
                            </small>
                        </li>
                    </ul>
                </div>

                <div class="right-widget">
                    <div class="custom-title-wrap bar-danger mb-4">
                        <div class="custom-title">Active Users</div>
                    </div>

                    <ul class="list-unstyled mb-0 list-widget">
                        <li class="cursor">
                            <div class="media mb-4">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" src="../static/assets/img/avatar/avatar1.jpg" alt=" ">
                                    <span class="status bg-success"></span>
                                </div>
                                <div class="media-body ">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">shirley hoe</h6>
                                        <span class="text-muted">Online</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cursor">
                            <div class="media mb-4">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" src="../static/assets/img/avatar/avatar2.jpg" alt=" ">
                                    <span class="status bg-warning"></span>
                                </div>
                                <div class="media-body ">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">james alexender</h6>
                                        <span class="text-muted">Screaming...</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cursor">
                            <div class="media mb-4">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" src="../static/assets/img/avatar/avatar3.jpg" alt=" ">
                                    <span class="status bg-info"></span>
                                </div>
                                <div class="media-body">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">ursula sitorus</h6>
                                        <span class="text-muted">Start Exploring</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cursor">
                            <div class="media mb-3">
                                <div class="st-alphabet mr-3">
                                    <img class="rounded-circle" src="../static/assets/img/avatar/avatar4.jpg" alt=" ">
                                    <span class="status bg-danger"></span>
                                </div>
                                <div class="media-body">
                                    <div class="float-left">
                                        <h6 class="text-uppercase mb-0">jonna pinedda</h6>
                                        <span class="text-muted">Busy</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="right-widget">

                    <div class="custom-title-wrap bar-success mb-4">
                        <div class="custom-title">Notification</div>
                    </div>

                    <div >
                        <div class="dropdown-divider mb-0"></div>
                        <a class="nav-link border-bottom px-0 py-3" href="#">
                            <span class="text-primary">
                            <span class="weight700 f12">
                                <i class="vl_bell weight600 pr-2"></i>Weekly Update</span>
                            </span>
                            <span class="small float-right text-muted">03:14 AM</span>

                            <div class="text-dark f12">
                                This week project update report generated. All team members are requested to check the updates
                            </div>
                        </a>

                        <a class="nav-link border-bottom px-0 py-3" href="#">
                            <span class="text-danger">
                            <span class="weight700 f12">
                                <i class="vl_Download-circle weight600 pr-2"></i>Server Error</span>
                            </span>
                            <span class="small float-right text-muted">10:34 AM</span>

                            <div class="text-dark f12">
                                Unexpectedly server response stop. Responsible members are requested to fix it soon
                            </div>
                        </a>

                        <a class="nav-link border-bottom px-0 py-3" href="#">
                            <span class="text-success">
                            <span class="weight700 f12">
                                <i class="vl_screen weight600 pr-2"></i>Monthly Meeting</span>
                            </span>
                            <span class="small float-right text-muted">12:30 AM</span>

                            <div class="text-dark f12">
                                Our monthly meeting will be held on tomorrow sharp 12:30. All members are requested to attend this meeting.
                            </div>
                        </a>

                        <div class="text-center mt-3">
                            <a class="nav-link px-0" href="#">View all notification</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--/right sidebar-->

    <!--basic scripts-->
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="../static/assets/vendor/popper.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/vendor/jquery-dropdown-master/jquery.dropdown.js"></script>
    <script src="../static/assets/vendor/m-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/assets/vendor/icheck/skins/icheck.min.js"></script>


    <!--dropzone-->
    <script src="../static/assets/vendor/dropzone/dropzone.js"></script>
    <!--init dropzone-->
    <script src="../static/assets/vendor/js-init/init-dropzone.js"></script>

    <!--[if lt IE 9]>
    <script src="../static/assets/vendor/modernizr.js"></script>
    <![endif]-->

    <!--basic scripts initialization-->
    <script src="../static/assets/js/scripts.js"></script>
    <script>
        $(document).ready(function(){
            $("#add-company").click(function(){
                $("#add-company-modal").show();
            });
            $("#add-company-modal-close-button").click(function(){
                $("#add-company-modal").hide();
            });



            
            $(".edit-button-first-table").click(function(){
                $("#edit-button-frst-table-popup").show();
            });
            $("#edit-button-first-table-close-button").click(function(){
                $("#edit-button-frst-table-popup").hide();
            });


            $(".delete-button-first-table").click(function(){
                $("#delete-button-frst-table-popup").show();
                var tr = $(this);
                $("#delete-confirmation").click(function(){
                    $("#delete-button-frst-table-popup").hide();
                    tr.parents("tr").fadeOut("slow", function(){$(this).remove();});
                });
                $("#delete-cancelation").click(function(){
                    $("#delete-button-frst-table-popup").hide();
                });
            });
            $("#delete-button-first-table-close-button").click(function(){
                $("#delete-button-frst-table-popup").hide();
            });


        });
    </script>
</body>
</html>

